<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgcc.advanced.mapper.ErrorRateCommandMapper">
    
    <resultMap type="ErrorRateCommand" id="ErrorRateCommandResult">
        <result property="id"    column="id"    />
        <result property="brand"    column="brand"    />
        <result property="switchType"    column="switch_type"    />
        <result property="firewareVersion"    column="fireware_version"    />
        <result property="subVersion"    column="sub_version"    />
        <result property="getPortCommand"    column="get_port_command"    />
        <result property="getParameterCommand"    column="get_parameter_command"    />
        <result property="conversion"    column="conversion"    />
    </resultMap>

    <sql id="selectErrorRateCommandVo">
        select id, brand, switch_type, fireware_version, sub_version, get_port_command, get_parameter_command,conversion from error_rate_command
    </sql>

    <select id="selectErrorRateCommandList" parameterType="ErrorRateCommand" resultMap="ErrorRateCommandResult">
        <include refid="selectErrorRateCommandVo"/>
        <where>  
            <if test="brand != null  and brand != ''"> and LOWER(brand) = LOWER(#{brand})</if>
            <if test="switchType != null  and switchType != ''"> and (LOWER(switch_type) = LOWER(#{switchType}) or switch_type = '*')</if>
            <if test="firewareVersion != null  and firewareVersion != ''"> and (fireware_version = #{firewareVersion} or fireware_version =  '*')</if>
            <if test="subVersion != null  and subVersion != ''"> and (sub_version = #{subVersion} or sub_version =  '*')</if>
            <if test="getPortCommand != null  and getPortCommand != ''"> and get_port_command = #{getPortCommand}</if>
            <if test="getParameterCommand != null  and getParameterCommand != ''"> and get_parameter_command = #{getParameterCommand}</if>
            <if test="conversion != null  and conversion != ''"> and conversion = #{conversion}</if>
        </where>
    </select>
    <select id="selectErrorRateCommandListBySQL" parameterType="ErrorRateCommand" resultMap="ErrorRateCommandResult">
        <include refid="selectErrorRateCommandVo"/>
        ${fuzzySQL}
    </select>
    
    <select id="selectErrorRateCommandById" parameterType="Long" resultMap="ErrorRateCommandResult">
        <include refid="selectErrorRateCommandVo"/>
        where id = #{id}
    </select>

    <insert id="insertErrorRateCommand" parameterType="ErrorRateCommand" useGeneratedKeys="true" keyProperty="id">
        insert into error_rate_command
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="brand != null and brand != ''">brand,</if>
            <if test="switchType != null">switch_type,</if>
            <if test="firewareVersion != null">fireware_version,</if>
            <if test="subVersion != null">sub_version,</if>
            <if test="getPortCommand != null">get_port_command,</if>
            <if test="getParameterCommand != null">get_parameter_command,</if>
            <if test="conversion != null">conversion,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="brand != null and brand != ''">#{brand},</if>
            <if test="switchType != null">#{switchType},</if>
            <if test="firewareVersion != null">#{firewareVersion},</if>
            <if test="subVersion != null">#{subVersion},</if>
            <if test="getPortCommand != null">#{getPortCommand},</if>
            <if test="getParameterCommand != null">#{getParameterCommand},</if>
            <if test="conversion != null">#{conversion},</if>
         </trim>
    </insert>

    <update id="updateErrorRateCommand" parameterType="ErrorRateCommand">
        update error_rate_command
        <trim prefix="SET" suffixOverrides=",">
            <if test="brand != null and brand != ''">brand = #{brand},</if>
            <if test="switchType != null">switch_type = #{switchType},</if>
            <if test="firewareVersion != null">fireware_version = #{firewareVersion},</if>
            <if test="subVersion != null">sub_version = #{subVersion},</if>
            <if test="getPortCommand != null">get_port_command = #{getPortCommand},</if>
            <if test="getParameterCommand != null">get_parameter_command = #{getParameterCommand},</if>
            <if test="conversion != null">conversion = #{conversion},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteErrorRateCommandById" parameterType="Long">
        delete from error_rate_command where id = #{id}
    </delete>

    <delete id="deleteErrorRateCommandByIds" parameterType="String">
        delete from error_rate_command where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>