<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgcc.advanced.mapper.OspfCommandMapper">
    
    <resultMap type="OspfCommand" id="OspfCommandResult">
        <result property="id"    column="id"    />
        <result property="brand"    column="brand"    />
        <result property="switchType"    column="switch_type"    />
        <result property="firewareVersion"    column="fireware_version"    />
        <result property="subVersion"    column="sub_version"    />
        <result property="getParameterCommand"    column="get_parameter_command"    />
    </resultMap>

    <sql id="selectOspfCommandVo">
        select id, brand, switch_type, fireware_version, sub_version, get_parameter_command from ospf_command
    </sql>

    <select id="selectOspfCommandList" parameterType="OspfCommand" resultMap="OspfCommandResult">
        <include refid="selectOspfCommandVo"/>
        <where>  
            <if test="brand != null  and brand != ''"> and LOWER(brand) = LOWER(#{brand})</if>
            <if test="switchType != null  and switchType != ''"> and (LOWER(switch_type) = LOWER(#{switchType}) or switch_type = '*')</if>
            <if test="firewareVersion != null  and firewareVersion != ''"> and (fireware_version = #{firewareVersion} or fireware_version = '*')</if>
            <if test="subVersion != null  and subVersion != ''"> and (sub_version = #{subVersion} or sub_version = '*')</if>
            <if test="getParameterCommand != null  and getParameterCommand != ''"> and get_parameter_command = #{getParameterCommand}</if>
        </where>
    </select>
    <select id="selectOspfCommandListBySQL" parameterType="OspfCommand" resultMap="OspfCommandResult">
        <include refid="selectOspfCommandVo"/>
        ${fuzzySQL}
    </select>
    
    <select id="selectOspfCommandById" parameterType="string" resultMap="OspfCommandResult">
        <include refid="selectOspfCommandVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertOspfCommand" parameterType="OspfCommand" useGeneratedKeys="true" keyProperty="id">
        insert into ospf_command
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">id,</if>
            <if test="brand != null and brand != ''">brand,</if>
            <if test="switchType != null">switch_type,</if>
            <if test="firewareVersion != null">fireware_version,</if>
            <if test="subVersion != null">sub_version,</if>
            <if test="getParameterCommand != null">get_parameter_command,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">#{id},</if>
            <if test="brand != null and brand != ''">#{brand},</if>
            <if test="switchType != null">#{switchType},</if>
            <if test="firewareVersion != null">#{firewareVersion},</if>
            <if test="subVersion != null">#{subVersion},</if>
            <if test="getParameterCommand != null">#{getParameterCommand},</if>
         </trim>
    </insert>

    <update id="updateOspfCommand" parameterType="OspfCommand">
        update ospf_command
        <trim prefix="SET" suffixOverrides=",">
            <if test="brand != null and brand != ''">brand = #{brand},</if>
            <if test="switchType != null">switch_type = #{switchType},</if>
            <if test="firewareVersion != null">fireware_version = #{firewareVersion},</if>
            <if test="subVersion != null">sub_version = #{subVersion},</if>
            <if test="getParameterCommand != null">get_parameter_command = #{getParameterCommand},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOspfCommandById" parameterType="string">
        delete from ospf_command where id = #{id}
    </delete>

    <delete id="deleteOspfCommandByIds" parameterType="string">
        delete from ospf_command where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>