<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgcc.advanced.mapper.RouteAggregationCommandMapper">
    
    <resultMap type="RouteAggregationCommand" id="RouteAggregationCommandResult">
        <result property="id"    column="id"    />
        <result property="brand"    column="brand"    />
        <result property="switchType"    column="switch_type"    />
        <result property="firewareVersion"    column="fireware_version"    />
        <result property="subVersion"    column="sub_version"    />
        <result property="internalCommand"    column="internal_command"    />
        <result property="internalKeywords"    column="internal_keywords"    />
        <result property="externalCommand"    column="external_command"    />
        <result property="externalKeywords"    column="external_keywords"    />
    </resultMap>

    <sql id="selectRouteAggregationCommandVo">
        select id, brand, switch_type, fireware_version, sub_version, internal_command, internal_keywords, external_command, external_keywords from route_aggregation_command
    </sql>

    <select id="selectRouteAggregationCommandList" parameterType="RouteAggregationCommand" resultMap="RouteAggregationCommandResult">
        <include refid="selectRouteAggregationCommandVo"/>
        <where>  
            <if test="brand != null  and brand != ''"> and brand = #{brand}</if>
            <if test="switchType != null  and switchType != ''"> and switch_type = #{switchType}</if>
            <if test="firewareVersion != null  and firewareVersion != ''"> and fireware_version = #{firewareVersion}</if>
            <if test="subVersion != null  and subVersion != ''"> and sub_version = #{subVersion}</if>
            <if test="internalCommand != null  and internalCommand != ''"> and internal_command = #{internalCommand}</if>
            <if test="internalKeywords != null  and internalKeywords != ''"> and internal_keywords = #{internalKeywords}</if>
            <if test="externalCommand != null  and externalCommand != ''"> and external_command = #{externalCommand}</if>
            <if test="externalKeywords != null  and externalKeywords != ''"> and external_keywords = #{externalKeywords}</if>
        </where>
    </select>
    
    <select id="selectRouteAggregationCommandById" parameterType="String" resultMap="RouteAggregationCommandResult">
        <include refid="selectRouteAggregationCommandVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertRouteAggregationCommand" parameterType="RouteAggregationCommand">
        insert into route_aggregation_command
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="brand != null and brand != ''">brand,</if>
            <if test="switchType != null">switch_type,</if>
            <if test="firewareVersion != null">fireware_version,</if>
            <if test="subVersion != null">sub_version,</if>
            <if test="internalCommand != null and internalCommand != ''">internal_command,</if>
            <if test="internalKeywords != null and internalKeywords != ''">internal_keywords,</if>
            <if test="externalCommand != null and externalCommand != ''">external_command,</if>
            <if test="externalKeywords != null and externalKeywords != ''">external_keywords,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="brand != null and brand != ''">#{brand},</if>
            <if test="switchType != null">#{switchType},</if>
            <if test="firewareVersion != null">#{firewareVersion},</if>
            <if test="subVersion != null">#{subVersion},</if>
            <if test="internalCommand != null and internalCommand != ''">#{internalCommand},</if>
            <if test="internalKeywords != null and internalKeywords != ''">#{internalKeywords},</if>
            <if test="externalCommand != null and externalCommand != ''">#{externalCommand},</if>
            <if test="externalKeywords != null and externalKeywords != ''">#{externalKeywords},</if>
         </trim>
    </insert>

    <update id="updateRouteAggregationCommand" parameterType="RouteAggregationCommand">
        update route_aggregation_command
        <trim prefix="SET" suffixOverrides=",">
            <if test="brand != null and brand != ''">brand = #{brand},</if>
            <if test="switchType != null">switch_type = #{switchType},</if>
            <if test="firewareVersion != null">fireware_version = #{firewareVersion},</if>
            <if test="subVersion != null">sub_version = #{subVersion},</if>
            <if test="internalCommand != null and internalCommand != ''">internal_command = #{internalCommand},</if>
            <if test="internalKeywords != null and internalKeywords != ''">internal_keywords = #{internalKeywords},</if>
            <if test="externalCommand != null and externalCommand != ''">external_command = #{externalCommand},</if>
            <if test="externalKeywords != null and externalKeywords != ''">external_keywords = #{externalKeywords},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRouteAggregationCommandById" parameterType="String">
        delete from route_aggregation_command where id = #{id}
    </delete>

    <delete id="deleteRouteAggregationCommandByIds" parameterType="String">
        delete from route_aggregation_command where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectRouteAggregationCommandListBySQL" parameterType="RouteAggregationCommand" resultMap="RouteAggregationCommandResult">
        <include refid="selectRouteAggregationCommandVo"/>
        ${fuzzySQL}
    </select>

</mapper>