<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgcc.share.mapper.SwitchInformationMapper">
    
    <resultMap type="SwitchInformation" id="SwitchInformationResult">
        <result property="id"    column="id"    />
        <result property="brand"    column="brand"    />
        <result property="switchType"    column="switch_type"    />
        <result property="firewareVersion"    column="fireware_version"    />
        <result property="subVersion"    column="sub_version"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSwitchInformationVo">
        select id, brand, switch_type, fireware_version, sub_version, create_time, update_time from switch_information
    </sql>

    <select id="selectSwitchInformationList" parameterType="SwitchInformation" resultMap="SwitchInformationResult">
        <include refid="selectSwitchInformationVo"/>
        <where>  
            <if test="brand != null  and brand != ''"> and brand = #{brand}</if>
            <if test="switchType != null  and switchType != ''"> and switch_type = #{switchType}</if>
            <if test="firewareVersion != null  and firewareVersion != ''"> and fireware_version = #{firewareVersion}</if>
            <if test="subVersion != null  and subVersion != ''"> and sub_version = #{subVersion}</if>
        </where>
    </select>
    
    <select id="selectSwitchInformationById" parameterType="Long" resultMap="SwitchInformationResult">
        <include refid="selectSwitchInformationVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSwitchInformation" parameterType="SwitchInformation" useGeneratedKeys="true" keyProperty="id">
        insert into switch_information
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="brand != null and brand != ''">brand,</if>
            <if test="switchType != null and switchType != ''">switch_type,</if>
            <if test="firewareVersion != null and firewareVersion != ''">fireware_version,</if>
            <if test="subVersion != null">sub_version,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="brand != null and brand != ''">#{brand},</if>
            <if test="switchType != null and switchType != ''">#{switchType},</if>
            <if test="firewareVersion != null and firewareVersion != ''">#{firewareVersion},</if>
            <if test="subVersion != null">#{subVersion},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSwitchInformation" parameterType="SwitchInformation">
        update switch_information
        <trim prefix="SET" suffixOverrides=",">
            <if test="brand != null and brand != ''">brand = #{brand},</if>
            <if test="switchType != null and switchType != ''">switch_type = #{switchType},</if>
            <if test="firewareVersion != null and firewareVersion != ''">fireware_version = #{firewareVersion},</if>
            <if test="subVersion != null">sub_version = #{subVersion},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSwitchInformationById" parameterType="Long">
        delete from switch_information where id = #{id}
    </delete>

    <delete id="deleteSwitchInformationByIds" parameterType="String">
        delete from switch_information where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>